<% page_uri = Rails.application.routes.url_helpers.spree_path == '/' ? page.slug : Rails.application.routes.url_helpers.spree_path + page.slug %>
<li class=<%=(request.fullpath.gsub('//','/') == page_uri) ? 'current' : 'not'%>><%= link_to page.title, page_uri  %></li>