<% if Spree::Page.by_store(current_store).visible.sidebar_links.any? %>
  <nav id="pages" class="sidebar-item">
    <h4 class="pages-root filter-title">
      <%= Spree::Page.model_name.human(count: :many) %>
    </h4>
    <ul class="pages-list list-group">
      <%= render partial: 'spree/static_content/static_content_list', collection: Spree::Page.visible.sidebar_links, as: :page %>
    </ul>
  </nav>
<% end %>
